/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

.body {
  font-size: 16px;
  font-weight: 100;
  margin-left: 45px;
  line-height: 1.5;
}

.wrapper {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  background-color: white;
  height: auto;
  width: 60%;
  flex-direction: column;
  margin-top: 75px;
  font-size: 16px;
  font-family: "Young Serif", serif;
  padding: 25px;
  border-radius: 10px;
}

.content {
  width: 100%;
}

.image {
  width: 100%;
}

.image img {
  border-radius: 10px;
  width: 100%;
  margin-top: 0;
}

.prep {
  color: hsl(332, 51%, 32%);
}

.time {
  background-color: hsl(310.53deg 23% 79% / 27%);
  padding: 5px;
}

#ingr {
  border-bottom: 1px solid rgb(111, 110, 110);
}

.ingre,
.inst,
.nutr,
.nmbr {
  color: hsl(332, 51%, 32%);
}

.instr {
  border-bottom: 1px solid rgb(111, 110, 110);
  margin-bottom: 1px;
}

.metrics {
  color: hsl(332, 51%, 32%);
  padding-left: 100px;
}

ol li::marker,
ul li::marker {
  color: hsl(332, 51%, 32%);
}

#para {
  font-size: 16px;
  font-weight: inherit;
}

.cal {
  display: flex;
  gap: 300px;
}

.unites {
  color: brown;
  text-align: right;
}

hr {
  position: relative;
  bottom: 20px;
  color: brown;
}

#zero {
  position: relative;
  left: 18px;
  color: brown;
}

#twenty {
  margin-left: 7px;
  color: brown;
}

#twentytwo {
  margin-left: 27px;
  color: brown;
}

@media (max-width: 1440px) {
  .body {
    margin-left: 20px;
  }

  .card {
    width: 80%;
  }

  .metrics {
    padding-left: 50px;
  }

  .cal {
    flex-direction: column;
    gap: 20px;
  }

  hr {
    bottom: 10px;
  }
}

@media (max-width: 375px) {
  .body {
    font-size: 14px;
    margin-left: 10px;
  }

  .card {
    padding: 15px;
  }

  .image img {
    border-radius: 5px;
  }

  .cal {
    gap: 10px;
  }

  .metrics {
    padding-left: 20px;
  }
}
